<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>

    <% @date = Date.today %>
  <p>
    The date is 
     <%= @date.strftime("%B") %>
    </p>

</html>
