<!DOCTYPE html>
<html>
  <head>
    <title>Info Page</title>
  </head>
  <body>
    <h1>Info Page</h1>
    <ul>
      <li>These</li>
      <li>Are Items</li>
      <li>About</li>
      <li>Me</li>
      <li>On the</li>
      <li> Info page</li>
      </ul>
    <p>This is the info page: here's some information about me!</p>
  </body>
</html>
